@CHARSET "UTF-8";
  body {
	color: black;
	background-color: #009900;		
   	font-size: 100.01%;
  	font-family: Arial,sans-serif,'Times New Roman';
	margin: 0; padding: 1em 0;
	text-align: center;  /* Zentrierung im Internet Explorer */
  }
  

  div#Seite {
	color: black; 
	background-color: #00bb00;
	text-align: left;    /* Seiteninhalt wieder links ausrichten */
	margin: 0 auto;      /* standardkonforme horizontale Zentrierung */
	width: 62em;
    	padding: 0em;
    	border: 0px;
    padding-bottom: 5px;
  }
  
  div#Kopf{
  	padding-top: 0px;
  	text-align: center;
  }
  
  div#Navigation img{
  	margin-left: 5px;
  	margin-right: 5px;
  }

div#Navigation ul{
   color: white;
	background-color: #00bb00;	  		  		
  	font-size: 1.0em;
	float: left; 
    	width: 15em;
	margin-top: 40pt;
    	margin-left: 0.5em; 
    	margin-right: 0; 
    	padding-left: 0;
    	border: 0px;
  }
    
  ul.navi li {
  		color: white;
   	list-style: none;
   	margin-left: 0; 
   	padding-top: 0.5em;
   	padding-left: 0.5em;
   	padding-right: 0.5em;
   	padding-bottom: 0.5em;
  }
  
  ul.navi a {
  		color: white;
  	   display: block; 
   margin-left: 0; 
   padding-top: 0.3em;
   padding-left: 1.0em;
   padding-right: 0.3em;
   padding-bottom: 0.3em;
   font-weight: none;
   font-size: 0.8em;
   text-decoration: none;
  }

/*
  ul.navi a:before { content:">> ";color:white; }
*/
  
  ul.navi a:link {
  	color: white; 
/*	background-color: #00cc00;*/
/*
	border: 1px solid white;
*/
		  }
  
  ul.navi a:visited {
/*  	color: #ddddff;*/ 
/*	background-color: #00cc00;*/
  }
  
  ul.navi a:hover {
/*  	color: black;*/ 
	background-color: #00cc00;
	  }
/*	  
  ul.navi a:hover:before { content:">> ";color:#b0b0b0; }
*/  
  
  ul.navi a:focus {
  	color: white; background-color: green;
  }
  
  ul.navi a:active {
  	color: white; background-color: red;
  }
  
  a#sichtbar{
  	color: #00cc00; 
	background-color: #ddddff;
  }
  
ul.navi a.current {
  	color: #ff9999;
  	background-color: #800000;
  	  }

  a#current {
/*  	color: white;*/
  	  	background-color: white;
  	  	
  	  }
  a#current:before { content:">> ";color: black; }
	
	ul.navi li.space {
   	list-style: none;
   	margin: 0; 
   	padding-left: 0.5em;
   	padding-right: 0.5em;
   	padding-top: 0;
	padding-bottom: 0;
	}

    hr{
	height:1px;
	border:0px solid #000;
	background-color:#000;
	margin-top: 1em; 
	margin-bottom: 1em; 
        } 

  div#Inhalt {
  	background-color: #ffffff;
  	margin-left: 16em;
  	margin-top: 10px;
  	margin-right: 0.5em;
  	margin-bottom: 10px;
  	
  	padding-top: 10pt;
    padding-bottom: 15pt;
    padding-left: 15pt;
    padding-right: 15pt;
	min-height: 300px;    
    border: 0px;
  }
  div#Inhalt h1 {
    	font-size: 2.0em;
    	margin: 0.5em 0 1em;
    	text-align: center;
    	color: #00aa00;
  }
  div#Inhalt h2 {
    	margin: 1em 0 0 1em;
  		font-size: 1.7em;
    	text-align: center;
  }  
  div#Inhalt td#zahl {
  		color: #80b080;
		font:italic Helvetica;
    	font-size:0.9em;
		margin-left: 10em;
  }
  
  div#Inhalt td#pro {
    	color: #0044ff;
  		font-size: 1.2em;
    	padding-left: 20px;
  }

  div#Inhalt p {
  		color: black;
    	font-size:0.85em;
    	margin: 1em 0;
    	text-align: justify;    
  		font-family: Verdana, Arial,sans-serif,'Times New Roman';
  }

  div#Inhalt p#Untertitel {
  		color: #8080b0;
  	   text-align: center;
    	font-size:0.92em;
  	   margin-top: -0.9em;
  	   margin-bottom: 2em;	    
    	color: #00aa00;
  }

	div#Inhalt p#Veranstaltung {
  		color: black;
    	font-size:1em;
    	margin: 2em 0 0 0;
    	text-align: justify;
    	font-weight: bold;    
  }

	div#Inhalt p#Anmerkung {
  		color: black;
    	font-size:0.85em;
    	margin: 1em 0 0 0;
    	text-align: justify;
  }

	div#Inhalt p#Buehne{
  		color: black;
    	font-size:0.95em;
    	margin: 1em 0 0 0;
    	text-align: justify;
    	text-decoration: underline;
  }

div#Inhalt p#mitwirkender {
  		color: black;
    	font-size:0.92em;
    	margin: 1em 0;
    	text-align: justify    
  }

div#Inhalt p#ort {
  		color: black;
    	font-size:0.92em;
    	margin: 1em 0;
    	text-align: justify    
  }


  div#Inhalt ul{
  		color: #8080b0;
  	  }
  div#footer {
  		color: #888888;
    	font-size:0.9em;
    	margin: 0.1em 0 ;
    	text-align: center    
  	  }
  div#Inhalt table#sachwert {
  		border: thin solid black;		
		border-collapse: collapse;  
		}
			 
  div#Inhalt td#veranstalter {
  		padding: 1em 1em 1em 1em;		
  }	 

  